<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Main{% endblock title %}</title>
</head>
<body>
<header>
<div class="main">
<h2><a href="{% url "homepage" %}">Главная страница</a> </h2>
<hr>
<div class="profile">
    <h2>User: {{ request.user.username|default:"Unknown" }} </h2>
    <h2>Balance {{ request.user.balance }}</h2>
    </div>
    <ul>
        {% if not request.user.is_authenticated %}
            <hr>
        <li><a href="{% url "register" %}">Register</a></li>
        <li><a href="{% url "login" %}">Login</a></li>
        {% else %}
        <li><a href="{% url "logout" %}">Logout</a></li>
        {% endif %}
    </ul>
    <hr>
</div>
</header>
<div>
{% block content %}
    <a href="{% url "products" %}"><h2>Все товары</h2></a><br>
{% if request.user.is_staff %}
    <a href="{% url "all_returns" %}"><h2>Возвраты</h2></a>
    {% endif %}
{% endblock content %}
</div>
<footer>
    {% block footer %}

    {% endblock footer %}
</footer>
</body>
</html>