{% extends "index.html"%}

{% block title %} Все товары {% endblock title %}

{% block content %}
    {% if request.user.is_staff %}
        <div class="products">
            <a href="{% url "add_product" %}"><h2>Добавить товар</h2></a>
        {% for object in object_list.reverse %}
            <div class="product">
            <hr>
            <h1>Товар: {{ object.name_of_product }}</h1>

            <h2>О товаре: {{ object.about_of_product  }}
                <a href="{% url "edit_product" object.pk%}">Изменить</a></h2>

            <h3>Цена: {{ object.price }}</h3>

            <h3>Количество на складе: {{ object.quantity_in_stock }}</h3>
            </div>
        {% endfor %}
        </div>
        {% else %}
        {% for object in object_list.reverse %}
            <hr>
            <h1>Товар: {{ object.name_of_product }}</h1>

            <h2>О товаре: {{ object.about_of_product  }}</h2>
            <form method="post">
            {% csrf_token %}
            {{ form.count }}
                {% if messages %}
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                {% endif %}
            <input type="hidden" value="{{ object.pk }}" name="pk">
            <input type="submit" value="Купить">
            </form>
            <h3>Цена: {{ object.price }}</h3>

            {% if object.quantity_in_stock >= 1 %}
            <h3>Количество на складе: {{ object.quantity_in_stock }}</h3>
            {% else %}
            <h3>Нет в наличии</h3>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock content %}
